In [3]:
import pandas as pd
import matplotlib.pyplot as plt

housing = pd.read_csv('Dados/housing.csv')
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11307 entries, 0 to 11306
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bairro                  11305 non-null  object
 1   Endereco                11305 non-null  object
 2   Quartos                 11305 non-null  float64
 3   Tipo                    11305 non-null  object
 4   Preco                   8828 non-null   float64
 5   Distancia do aeroporto  11305 non-null  float64
 6   CEP                     11305 non-null  float64
 7   Banheiro                11016 non-null  float64
 8   Vagas                   11056 non-null  float64
 9   Area terreno            9031 non-null   float64
 10  Area construida         6105 non-null   float64
 11  Ano da construcao       7017 non-null   float64
 12  Latitude                11307 non-null  object
 13  Longitude               11093 non-null  object
dtypes: float64(9), object(5)
memory usage: 1.2+ MB

In [4]:
housing.dropna(axis=0, inplace=True)
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3627 entries, 1 to 7016
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bairro                  3627 non-null   object
 1   Endereco                3627 non-null   object
 2   Quartos                 3627 non-null   float64
 3   Tipo                    3627 non-null   object
 4   Preco                   3627 non-null   float64
 5   Distancia do aeroporto  3627 non-null   float64
 6   CEP                     3627 non-null   float64
 7   Banheiro                3627 non-null   float64
 8   Vagas                   3627 non-null   float64
 9   Area terreno            3627 non-null   float64
 10  Area construida         3627 non-null   float64
 11  Ano da construcao       3627 non-null   float64
 12  Latitude                3627 non-null   object
 13  Longitude               3627 non-null   object
dtypes: float64(9), object(5)
memory usage: 425.0+ KB

In [8]:
housing.rename(columns={'Bairro': 'bairro', 'Endereco':'endereco', 'Quartos':'quartos', 'Tipo':'tipo', 'Preco':'preco',
       'Distancia do aeroporto':'distancia_aeroporto', 'CEP':'cep', 'Banheiro':'banheiro', 'Vagas':'vagas', 'Area terreno':'area_terreno',
       'Area construida':'area_construida', 'Ano da construcao':'ano_construcao', 'Latitude':'latitude', 'Longitude':'longitude'}, inplace=True)
housing.columns

Index(['bairro', 'endereco', 'quartos', 'tipo', 'preco', 'distancia_aeroporto',
       'cep', 'banheiro', 'vagas', 'area_terreno', 'area_construida',
       'ano_construcao', 'latitude', 'longitude'],
      dtype='object')

In [9]:
housing.longitude = pd.to_numeric(housing.longitude, errors='coerce')
housing.latitude = pd.to_numeric(housing.latitude, errors = 'coerce')

In [10]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3627 entries, 1 to 7016
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bairro               3627 non-null   object
 1   endereco             3627 non-null   object
 2   quartos              3627 non-null   float64
 3   tipo                 3627 non-null   object
 4   preco                3627 non-null   float64
 5   distancia_aeroporto  3627 non-null   float64
 6   cep                  3627 non-null   float64
 7   banheiro             3627 non-null   float64
 8   vagas                3627 non-null   float64
 9   area_terreno         3627 non-null   float64
 10  area_construida      3627 non-null   float64
 11  ano_construcao       3627 non-null   float64
 12  latitude             3627 non-null   float64
 13  longitude            3626 non-null   float64
dtypes: float64(11), object(3)
memory usage: 425.0+ KB

In [11]:
housing.dropna(axis=0, inplace=True)
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3626 entries, 1 to 7016
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bairro               3626 non-null   object
 1   endereco             3626 non-null   object
 2   quartos              3626 non-null   float64
 3   tipo                 3626 non-null   object
 4   preco                3626 non-null   float64
 5   distancia_aeroporto  3626 non-null   float64
 6   cep                  3626 non-null   float64
 7   banheiro             3626 non-null   float64
 8   vagas                3626 non-null   float64
 9   area_terreno         3626 non-null   float64
 10  area_construida      3626 non-null   float64
 11  ano_construcao       3626 non-null   float64
 12  latitude             3626 non-null   float64
 13  longitude            3626 non-null   float64
dtypes: float64(11), object(3)
memory usage: 424.9+ KB

In [12]:
housing[['latitude', 'longitude']].describe()

           latitude      longitude
count   3626.000000    3626.000000
mean   -3245.446785   13407.429455
std    10529.533494   41780.754937
min   -37946.000000     144.791800
25%      -37.866900     144.931700
50%      -37.805400     145.002200
75%      -37.762700     145.068800
max      -37.686200  145138.000000

In [13]:
housing.loc[housing.latitude < -1000, 'latitude'] = housing.latitude/1000
housing.loc[housing.longitude > 1000, 'longitude'] = housing.longitude/1000
housing[['latitude', 'longitude']].describe()

          latitude    longitude
count  3626.000000  3626.000000
mean    -37.805458   144.986199
std       0.062670     0.078533
min     -37.946000   144.791800
25%     -37.849075   144.925125
50%     -37.796600   144.995300
75%     -37.758602   145.050300
max     -37.686200   145.143600

In [14]:
housing.describe()

,quartos,preco,distancia_aeroporto,cep,banheiro,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude
count,3626.000000,3.626000e+03,3626.000000,3626.000000,3626.000000,3626.000000,3626.000000,3626.000000,3626.000000,3626.000000,3626.000000
mean,3.093216,1.215779e+06,8.974435,3091.653613,1.631274,1.609487,519.880033,153.402496,1957.008549,-37.805458,144.986199
std,0.901262,7.017608e+05,3.465231,58.878631,0.743897,0.955714,653.436087,95.896493,38.733988,0.062670,0.078533
min,1.000000,1.310000e+05,1.200000,3000.000000,1.000000,0.000000,43.000000,1.000000,1830.000000,-37.946000,144.791800
25%,3.000000,7.410625e+05,6.400000,3042.000000,1.000000,1.000000,227.000000,102.000000,1925.000000,-37.849075,144.925125
50%,3.000000,1.025500e+06,9.200000,3073.000000,2.000000,2.000000,449.000000,132.000000,1960.000000,-37.796600,144.995300
75%,4.000000,1.500000e+06,11.700000,3143.000000,2.000000,2.000000,648.000000,180.000000,1995.000000,-37.758602,145.050300
max,8.000000,8.000000e+06,15.000000,3207.000000,8.000000,8.000000,15900.000000,3112.000000,2018.000000,-37.686200,145.143600

In [15]:
housing = housing[housing.area_construida.between(25, 1000)]
housing.area_construida.describe()

count    3596.000000
mean      153.184775
std        79.052395
min        25.000000
25%       103.000000
50%       133.000000
75%       181.000000
max       808.000000
Name: area_construida, dtype: float64

In [17]:
housing[['quartos', 'banheiro', 'vagas', 'ano_construcao']].describe()

           quartos     banheiro        vagas  ano_construcao
count  3596.000000  3596.000000  3596.000000     3596.000000
mean      3.093437     1.632369     1.609844     1956.859566
std       0.902262     0.745500     0.956293       38.715546
min       1.000000     1.000000     0.000000     1830.000000
25%       3.000000     1.000000     1.000000     1925.000000
50%       3.000000     2.000000     2.000000     1960.000000
75%       4.000000     2.000000     2.000000     1995.000000
max       8.000000     8.000000     8.000000     2018.000000

In [18]:
housing[['quartos', 'banheiro', 'vagas', 'ano_construcao']].memory_usage(index=False)

quartos           28768
banheiro          28768
vagas             28768
ano_construcao    28768
dtype: int64

In [19]:
housing.quartos = housing.quartos.astype('int8')
housing.banheiro = housing.banheiro.astype('int8')
housing.vagas = housing.vagas.astype('int8')
housing.ano_construcao = housing.ano_construcao.astype('int16')
housing[['quartos', 'banheiro', 'vagas', 'ano_construcao']].dtypes

quartos            int8
banheiro           int8
vagas              int8
ano_construcao    int16
dtype: object

In [20]:
housing[['quartos', 'banheiro', 'vagas', 'ano_construcao']].memory_usage(index=False)

quartos           3596
banheiro          3596
vagas             3596
ano_construcao    7192
dtype: int64